/* Column
--------------------------------------------- */

/* Columns stack on mobile */
@media (max-width: 1024px) {
	.wp-block-columns {
		flex-wrap: wrap;
	}

	.wp-block-columns>.wp-block-column {
		flex-basis: 100%;
		width: 100%;
	}
}
