<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Homepage"},"align":"full","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"},"anchor":"content"} -->
<main class="wp-block-group alignfull" id="content" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-hero"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-dream-trip"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-main-content"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-lets-make-it-happen"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/why-choose-sd"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-safari-gurus"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-brands"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-sd-difference"} /-->

	<!-- wp:pattern {"slug":"sd-theme-2026/homepage-tales-from-our-trails"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
